# has bot token in it, look at config-example.json
config.json

# these probably shouldnt exist, but just in case
bot-restart
tb-tmp.png
alias-tmp
tb-attached

# textboxer resource directory
tb-resources

# logfile from my autostart script
log